.questions{
    text-align: center;
}

.game-container{
    overflow: none; 
}

.buttons-continer{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
}

.choices{
 width: 25rem;
}



@media screen and (max-width:1100px){
    .choices{
        width: 30rem;
        justify-content: space-around;
        margin: 0 auto;
    }
}
@media screen and (max-width:812px){
    .choices{
        width: 15rem;
        margin: 0 auto;
    }
}